<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="js/libs/jqueryui/css/base/minified/jquery-ui.min.css"/>
        <script src="js/libs/jquery/jquery.js"></script>
        <script src="js/libs/jqueryui/jquery-ui.js"></script>
    </head>
    <body>
        <h1>迷你资源分享</h1>

        <h2>人员管理</h2>

        <div>
            <!--@thymesVar id="users" type="java.util.List<>"-->
            <div th:each="user:${users}">
                <span th:text="${user.username}"/>
            </div>
        </div>

        <h2>资源管理</h2>

        <input type="text" name="date" id="date"/>
        <script>
            $(function() {
                $('#date').datepicker();
            });
        </script>
    </body>
</html>
